extends /layout.pug

block content
  //- Hero Section
  section.hero
    h1( style="display: none;" )=page.meta.title
    img.hero__image( v-fade-image="'hero__image--ready'" src=page.heroSection.image.url alt=page.heroSection.image.altText )
    .hero__content.container
      h2.hero__title=page.heroSection.title
      if page.heroSection.subtitle
        p.hero__subtitle=page.heroSection.subtitle
  .container
    //- Intro Section
    section.section
      h3.section__title=page.introSection.header
      .section__content!=page.introSection.paragraph
    //- Latest posts
    section.section
      h3.section__title=page.blogSection.header
      .card__list
        each post in page.blogSection.posts
          a.card( href=post.url )
            if post.image
              .card__image-container
                img.card__image.image( v-fade-image src=post.image.url alt=post.image.altText )
            .card__body
              h4.card__title!=post.title
              p.card__subtitle.card__subtitle--right=post.date

block scripts
  script( src="/public/scripts/pages/home.js" )
